body {
  width: 850px;
}
#heading-wrapper {
  position: relative;
  top: 50px;
  padding-top: 30px;
  margin-bottom: 40px;
  left: 10px;
}

#myProgress {
  width: 70%;
  background-color: #bbbbbb;
  position: relative;
  left: 320px;
  top: 0px;
  margin-bottom: 30px;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #428bca;
}

#question-wrap {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 200px;
}

#question-num {
}

#first-h2 {
  position: relative;
  bottom: 50px;
  font-size: 25px;
  font-family: arial;
}

button {
  width: 150px;
  height: 30px;
  position: relative;
  margin-right: 20px;
}

select {
  position: relative;
  width: 200px;
  height: 40px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: white;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
}

#start-wrapper {
  display: flex;
  flex-direction: row;
  position: relative;
  top: 60px;
  margin-left: 420px;
  justify-content: center;
}

#start-button {
  position: relative;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  width: 170px;
  border-width: medium;
}

#start-button:hover {
  background-color: #848484;
}

#hear-again {
  width: 100%;
  max-width: 250px;

  width: 170px;
  height: 60px;
  background-color: white;
  border-radius: 5px;
  border-width: medium;
  position: relative;
  display: none;
}

#hear-again:hover {
  background-color: #848484;
}

#choice-buttons-div {
  display: flex;
  width: 750px;
  height: 400px;
  position: relative;
  top: 90px;
  left: 140px;
  visibility: hidden;
}

#choice {
  width: 700px;
  height: 200px;
  position: relative;
  top: 80px;
  left: 15px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#choice-heading {
  visibility: hidden;
  position: relative;
  left: 430px;
  margin-top: 50px;
  font-family: arial;
}

#choice button {
  position: relative;
  background-color: #97b76e;
  border: none;
  left: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

#choice button:hover {
  background-color: #848484;
}

.choice-off {
  display: none;
}

#dropdown-section {
  position: relative;
  bottom: 580px;
  left: 900px;
}

#dropdown-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 125px;
}

#right-buttons {
  position: relative;
  bottom: 390px;
}

#right-buttons button {
  position: relative;
  left: 395px;
  bottom: 200px;
  margin-bottom: 5px;
  border: none;
  background-color: #bbbbbb;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 40px;
}

#right-buttons button:hover {
  background-color: #848484;
}

H2 {
  position: relative;
  bottom: 20px;
  left: 495px;
}
