body {
  width: 850px;
  padding-top: 50px;
}

#heading-wrapper {
  position: relative;
  top: 50px;
  padding-top: 30px;
  left: 40px;
}

#first-h2 {
  position: relative;
  top: 10px;

  font-size: 16px;
}

button {
  width: 150px;
  height: 30px;
  position: relative;
  margin-right: 20px;
}

select {
  position: relative;
  width: 200px;
  height: 40px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: white;
}

.side-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#start-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 50px;
  margin-left: 400px;
}

#start-button {
  position: relative;
  margin-left: 25px;
  left: 101px;
  height: 40px;
}

#hear-again {
  width: 100%;
  max-width: 250px;
  margin-left: 65px;
}

#choice-buttons-div {
  display: flex;
  width: 750px;
  height: 300px;
  position: relative;
  top: 50px;
  left: 130px;
  visibility: hidden;
  border: 2px solid black;
}

#choice {
  width: 700px;
  height: 200px;
  position: relative;
  top: 80px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#choice-heading {
  visibility: hidden;
  position: relative;
  left: 410px;
  margin-top: 50px;
}

#choice button {
  position: relative;
  background-color: #97b76e;
  border: none;
  left: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 20px;
}

#choice button:hover {
  background-color: #848484;
}

.choice-off {
  display: none;
}

#dropdown-section {
  position: relative;
  bottom: 400px;
  left: 900px;
}

#dropdown-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 125px;
}

#right-buttons {
  position: relative;
  bottom: 200px;
}

#right-buttons button {
  position: relative;
  left: 395px;
  bottom: 200px;
  margin-bottom: 5px;
  border: none;
  background-color: #bbbbbb;
  border: none;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  height: 40px;
}

#right-buttons button:hover {
  background-color: #848484;
}

H2 {
  position: relative;
  bottom: 20px;
  left: 495px;
}
